# CAO Points Analysis

File include detailed comparison of CAO points in 2019, 2020 and 2021 using the functionality in Pandas,
plus appropiate plots.

***

### Link to CAO Points Website
https://www.cao.ie/index.php?/page=point&p=2021

***

In [1]:
# Convinient package for making HTTP requests.
import requests as rq

# Regular expression.
import re

#Dates and times.
import datetime as dt

#To clean xlms and pdf files.
import pandas as pd

# For downloading.
import urllib.request as urlrq

### Link to CAO Points 2021 Website
https://www.cao.ie/index.php?/page=point&p=2021

***

### CAO Points 2021
***

In [2]:
# Fetch CAO points from the website.
resp = rq.get("http://www2.cao.ie/points/l8.php")
# Check if its connecting.
# resp

### Save original CAO data set to a HTML file. 

***

In [3]:
# Get the current date and time.
now = dt.datetime.now()
# Format as a string.
nowstr = now.strftime('%Y%m%d_%H%M%S')
# Creating timestamp in file as a filename itself.
path = 'data/cao2021_' + nowstr + '.html'

In [4]:
# The server uses the wrong encoding, fix it.
original_encoding = resp.encoding
# Change to cp1252
resp.encoding = 'cp1252'

In [5]:
# Save the original html file
with open(path, 'w') as f:
    f.write(resp.text)

### Use regular expression to select lines we want.

***

In [6]:
# Compile regular expression for matching lines.
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

### Loop through the lines of the response.
***

In [7]:
# Keep track of how many courses we process.
no_lines = 0

# Writing sorted CAO data to a CSV file. 
path = 'data/cao2021_csv_' + nowstr + '.csv'

### code from repo org // 
# Open the csv file for writing.
with open(path, 'w') as f:
    # Loop through lines of the response.
    for line in resp.iter_lines():
        # Decode the line, using the wrong encoding!
        dline = line.decode('cp1252')
        # Match only the lines representing courses.
        if re_course.fullmatch(dline):
            # Add one to the lines counter.
            no_lines = no_lines + 1
            # The course code.
            course_code = dline[:5]
            # The course title.
            course_title = dline[7:57]
            # Round one points.
            course_points = re.split(' +', dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            # Join the fields using a comma.
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            #clear linesplit[2] from # and *
            #print(linesplit[2])
            # Rejoin the substrings with commas in between.
            f.write(','.join(linesplit) + '\n')

# Print the total number of processed lines.
print(f"Total number of lines is {no_lines}.")

Total number of lines is 949.

### Link to CAO Points 2020 

http://www2.cao.ie/points/CAOPointsCharts2020.xlsx

***

### CAO Points 2020 

xmls file , cleaning, fetching,  saving to file converted data and raw data

***

### Save Original File
***

In [8]:
# Create a file path for the original data.
path = 'data/cao2020_' + nowstr + '.xlsx'

In [9]:
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('data/cao2020_20211115_120757.xlsx',
 <http.client.HTTPMessage at 0x1e99ec3dd00>)

### Load Spreadsheet using Pandas
***

In [10]:
# Download and parse the excel spreadsheet.
df = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)

In [11]:
df

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Spot check a random row.
df.iloc[753]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Road Transport Technology and Management
COURSE CODE2                                                           LC286
R1 POINTS                                                                264
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      264
EOS Random *                                                             NaN
EOS Mid-point                                                            360
LEVEL                                                                      7
HEI                                         Limerick Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 753, dtype: object

In [13]:
# Spot check the last row.
df.iloc[-1]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [14]:
# Create a file path for the pandas data.
path = 'data/cao2020_' + nowstr + '.csv'

In [15]:
# Save pandas data frame to disk.
df.to_csv(path)

### Link CAO Points 2019 
https://www.cao.ie/index.php?page=points&p=2019
***

### CAO Points 2019
***

###  THINGS TO DO ON FILE 
Steps to reproduce

NB: for the video I truncated the CSV file to save time. After the video, I went back and changed some of the following to make it cleaner.

    Download original pdf file.
    Open original pdf file in Microsoft Word.
    Save Microsoft Word's converted PDF in docx format.
    Re-save Word document for editing.
    Delete headers and footers.
    Delete preamble on page 1.
    Select all and copy.
    Paste into Visual Studio Code.
    Remove HEI name lines and black lines.
    Change column heading "COURSE AND INSTITUTION" to "Course".
    Change backticks to apostrophes.
    Replaced double tab charater at on line 28 with single tab.
    Delete tabs at end of lines 604, 670, 700, 701, 793, and 830.

##### Preparation CAO 2019 pdf file for editing in Pandas ( steps)
- Downloading original file from the website - CAO Points 2019 - pdf file - lvl8_19.pdf  
- Open original pdf file in Microsoft Word.
- Save Microsoft Word's converted PDF in docx format.
- Re-save Word document for editing.
- Delete headers and footers.
- Delete preamble on page 1.
- Select all and copy.
- Paste into Notepad++.
- Remove HEI name headings and paste onto each course line.
- Delete blank lines.
- Replace " ` " to " ' ".
- Remove empty spaces at the end of the lines ( tabs, spaces)

In [58]:
# Read CAO Points edited from csv (tsv) file to pandas
df2019 = pd.read_csv("data/lvl8_19_20211115_1016_edited.csv", sep="\t")
df2019.head()

,Institution Code,Course,EOS,Mid,Unnamed: 4
0,Athlone Institute of Technology,AL801,Software Design with Virtual Reality and Gaming,304,328.0
1,Athlone Institute of Technology,AL802,Software Design with Cloud Computing,301,306.0
2,Athlone Institute of Technology,AL803,Software Design with Mobile Apps and Connected...,309,337.0
3,Athlone Institute of Technology,AL805,Network Management and Cloud Infrastructure,329,442.0
4,Athlone Institute of Technology,AL810,Quantity Surveying,307,349.0

##### Years from 2018 - 2010 , downloading , prepering files, all should be pdf files

### REFERENCES:
    1.
    2.
    3.